In [2]:
import os
import requests
import pandas as pd
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi

%matplotlib inline

In [3]:
# Load .env environment variables
load_dotenv("alpacakey.env")

True

In [4]:
# Set Alpaca API key and secret
alpaca_api_key = os.getenv("alpaca_api_key")
alpaca_secret_key = os.getenv("alpaca_secret_key")

In [5]:
# Verify that Alpaca key and secret were correctly loaded
print(f"Alpaca Key type: {type(alpaca_api_key)}")
print(f"Alpaca Secret Key type: {type(alpaca_secret_key)}")

Alpaca Key type: <class 'str'>
Alpaca Secret Key type: <class 'str'>

In [6]:
# Create the Alpaca API object
alpaca = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version="v2")

In [7]:
# Format current date as ISO format
today = pd.Timestamp("2021-4-13", tz="America/New_York").isoformat()
begin = pd.Timestamp("2020-3-17", tz="America/New_York").isoformat()

In [8]:
# Set the tickers
tickers = ["TSLA", "GME"]
shares_data = {}

In [9]:
# Set timeframe to one day ('1D') for the Alpaca API
timeframe = "1D"

In [10]:
# Get current closing prices for TSLA and GME
tesla_gamestop_portfolio = alpaca.get_barset(
    tickers,
    timeframe,
    start = begin,
    end = today,
    limit = 1000
).df

# Display sample data
tesla_gamestop_portfolio

                              GME                                       \
                             open      high     low    close    volume
time
2020-03-17 00:00:00-04:00    4.40    4.6500    4.11    4.230   3193488
2020-03-18 00:00:00-04:00    4.10    4.2500    3.50    3.780   3083498
2020-03-19 00:00:00-04:00    3.71    4.2000    3.55    4.190   4750379
2020-03-20 00:00:00-04:00    4.08    4.0800    3.65    3.755   5301562
2020-03-23 00:00:00-04:00    3.58    3.8600    3.50    3.810   5586664
...                           ...       ...     ...      ...       ...
2021-04-07 00:00:00-04:00  183.40  184.4999  176.11  177.730   4429913
2021-04-08 00:00:00-04:00  185.86  185.8800  164.30  170.240   9077021
2021-04-09 00:00:00-04:00  169.90  171.5800  153.00  158.320   9196674
2021-04-12 00:00:00-04:00  158.10  163.9000  135.01  141.070  16290274
2021-04-13 00:00:00-04:00  141.85  145.3771  132.00  140.720   6436582

                               TSLA
                               open      high      low    close    volume
time
2020-03-17 00:00:00-04:00  440.0100  471.8500  396.000  430.000  23150951
2020-03-18 00:00:00-04:00  389.0000  404.8600  350.510  361.600  39991154
2020-03-19 00:00:00-04:00  374.6965  452.0000  358.460  427.295  28716890
2020-03-20 00:00:00-04:00  438.2000  477.0000  425.790  427.530  27182628
2020-03-23 00:00:00-04:00  433.5500  441.9999  410.500  434.290  15611610
...                             ...       ...      ...      ...       ...
2021-04-07 00:00:00-04:00  687.0000  691.3800  667.840  671.030  25229548
2021-04-08 00:00:00-04:00  677.3800  689.5499  671.645  683.770  22310546
2021-04-09 00:00:00-04:00  677.7700  680.9700  669.430  677.020  20359010
2021-04-12 00:00:00-04:00  685.7200  704.8000  682.090  701.630  27539935
2021-04-13 00:00:00-04:00  712.5600  763.0000  710.660  762.350  42476139

[271 rows x 10 columns]

In [22]:
tesla_1 = tesla_gamestop_portfolio["TSLA"][["close"]]
tesla_1

                             close
time
2020-03-17 00:00:00-04:00  430.000
2020-03-18 00:00:00-04:00  361.600
2020-03-19 00:00:00-04:00  427.295
2020-03-20 00:00:00-04:00  427.530
2020-03-23 00:00:00-04:00  434.290
...                            ...
2021-04-07 00:00:00-04:00  671.030
2021-04-08 00:00:00-04:00  683.770
2021-04-09 00:00:00-04:00  677.020
2021-04-12 00:00:00-04:00  701.630
2021-04-13 00:00:00-04:00  762.350

[271 rows x 1 columns]

In [28]:
tesla_1 = tesla_1.rename(columns={ "close":"Tesla"})
tesla_1

                             Tesla
time
2020-03-17 00:00:00-04:00  430.000
2020-03-18 00:00:00-04:00  361.600
2020-03-19 00:00:00-04:00  427.295
2020-03-20 00:00:00-04:00  427.530
2020-03-23 00:00:00-04:00  434.290
...                            ...
2021-04-07 00:00:00-04:00  671.030
2021-04-08 00:00:00-04:00  683.770
2021-04-09 00:00:00-04:00  677.020
2021-04-12 00:00:00-04:00  701.630
2021-04-13 00:00:00-04:00  762.350

[271 rows x 1 columns]

In [26]:
gamestop_2 = tesla_gamestop_portfolio["GME"][["close"]]
gamestop_2

                             close
time
2020-03-17 00:00:00-04:00    4.230
2020-03-18 00:00:00-04:00    3.780
2020-03-19 00:00:00-04:00    4.190
2020-03-20 00:00:00-04:00    3.755
2020-03-23 00:00:00-04:00    3.810
...                            ...
2021-04-07 00:00:00-04:00  177.730
2021-04-08 00:00:00-04:00  170.240
2021-04-09 00:00:00-04:00  158.320
2021-04-12 00:00:00-04:00  141.070
2021-04-13 00:00:00-04:00  140.720

[271 rows x 1 columns]

In [29]:
gamestop_2 = gamestop_2.rename(columns={ "close":"Gamestop"})
gamestop_2

                           Gamestop
time
2020-03-17 00:00:00-04:00     4.230
2020-03-18 00:00:00-04:00     3.780
2020-03-19 00:00:00-04:00     4.190
2020-03-20 00:00:00-04:00     3.755
2020-03-23 00:00:00-04:00     3.810
...                             ...
2021-04-07 00:00:00-04:00   177.730
2021-04-08 00:00:00-04:00   170.240
2021-04-09 00:00:00-04:00   158.320
2021-04-12 00:00:00-04:00   141.070
2021-04-13 00:00:00-04:00   140.720

[271 rows x 1 columns]

In [31]:
tesla_game_joined = pd.concat([tesla_1, gamestop_2], axis="columns", join="inner")
tesla_game_joined

                             Tesla  Gamestop
time
2020-03-17 00:00:00-04:00  430.000     4.230
2020-03-18 00:00:00-04:00  361.600     3.780
2020-03-19 00:00:00-04:00  427.295     4.190
2020-03-20 00:00:00-04:00  427.530     3.755
2020-03-23 00:00:00-04:00  434.290     3.810
...                            ...       ...
2021-04-07 00:00:00-04:00  671.030   177.730
2021-04-08 00:00:00-04:00  683.770   170.240
2021-04-09 00:00:00-04:00  677.020   158.320
2021-04-12 00:00:00-04:00  701.630   141.070
2021-04-13 00:00:00-04:00  762.350   140.720

[271 rows x 2 columns]

In [32]:
tesla_game_joined.to_csv("tesla_game_joined.csv")

In [14]:
tesla_gamestop_portfolio.dtypes

GME   open      float64
      high      float64
      low       float64
      close     float64
      volume      int64
TSLA  open      float64
      high      float64
      low       float64
      close     float64
      volume      int64
dtype: object

In [12]:
tesla_gamestop_portfolio.to_csv("tesla_game_portfolio.csv")

In [15]:
tesla_gamestop_portfolio.isnull()

                             GME                               TSLA         \
                            open   high    low  close volume   open   high
time
2020-03-17 00:00:00-04:00  False  False  False  False  False  False  False
2020-03-18 00:00:00-04:00  False  False  False  False  False  False  False
2020-03-19 00:00:00-04:00  False  False  False  False  False  False  False
2020-03-20 00:00:00-04:00  False  False  False  False  False  False  False
2020-03-23 00:00:00-04:00  False  False  False  False  False  False  False
...                          ...    ...    ...    ...    ...    ...    ...
2021-04-07 00:00:00-04:00  False  False  False  False  False  False  False
2021-04-08 00:00:00-04:00  False  False  False  False  False  False  False
2021-04-09 00:00:00-04:00  False  False  False  False  False  False  False
2021-04-12 00:00:00-04:00  False  False  False  False  False  False  False
2021-04-13 00:00:00-04:00  False  False  False  False  False  False  False


                             low  close volume
time
2020-03-17 00:00:00-04:00  False  False  False
2020-03-18 00:00:00-04:00  False  False  False
2020-03-19 00:00:00-04:00  False  False  False
2020-03-20 00:00:00-04:00  False  False  False
2020-03-23 00:00:00-04:00  False  False  False
...                          ...    ...    ...
2021-04-07 00:00:00-04:00  False  False  False
2021-04-08 00:00:00-04:00  False  False  False
2021-04-09 00:00:00-04:00  False  False  False
2021-04-12 00:00:00-04:00  False  False  False
2021-04-13 00:00:00-04:00  False  False  False

[271 rows x 10 columns]

In [17]:
tesla_gamestop_portfolio = tesla_gamestop_portfolio.dropna()
tesla_gamestop_portfolio

                              GME                                       \
                             open      high     low    close    volume
time
2020-03-17 00:00:00-04:00    4.40    4.6500    4.11    4.230   3193488
2020-03-18 00:00:00-04:00    4.10    4.2500    3.50    3.780   3083498
2020-03-19 00:00:00-04:00    3.71    4.2000    3.55    4.190   4750379
2020-03-20 00:00:00-04:00    4.08    4.0800    3.65    3.755   5301562
2020-03-23 00:00:00-04:00    3.58    3.8600    3.50    3.810   5586664
...                           ...       ...     ...      ...       ...
2021-04-07 00:00:00-04:00  183.40  184.4999  176.11  177.730   4429913
2021-04-08 00:00:00-04:00  185.86  185.8800  164.30  170.240   9077021
2021-04-09 00:00:00-04:00  169.90  171.5800  153.00  158.320   9196674
2021-04-12 00:00:00-04:00  158.10  163.9000  135.01  141.070  16290274
2021-04-13 00:00:00-04:00  141.85  145.3771  132.00  140.720   6436582

                               TSLA
                               open      high      low    close    volume
time
2020-03-17 00:00:00-04:00  440.0100  471.8500  396.000  430.000  23150951
2020-03-18 00:00:00-04:00  389.0000  404.8600  350.510  361.600  39991154
2020-03-19 00:00:00-04:00  374.6965  452.0000  358.460  427.295  28716890
2020-03-20 00:00:00-04:00  438.2000  477.0000  425.790  427.530  27182628
2020-03-23 00:00:00-04:00  433.5500  441.9999  410.500  434.290  15611610
...                             ...       ...      ...      ...       ...
2021-04-07 00:00:00-04:00  687.0000  691.3800  667.840  671.030  25229548
2021-04-08 00:00:00-04:00  677.3800  689.5499  671.645  683.770  22310546
2021-04-09 00:00:00-04:00  677.7700  680.9700  669.430  677.020  20359010
2021-04-12 00:00:00-04:00  685.7200  704.8000  682.090  701.630  27539935
2021-04-13 00:00:00-04:00  712.5600  763.0000  710.660  762.350  42476139

[271 rows x 10 columns]