In [1]:
#Import all of the necessary libraries

import os
import pandas as pd
import alpaca_trade_api as tradeapi

from dotenv import load_dotenv

In [2]:
#Load your .env file since we're using Alpaca's API keys
load_dotenv("alpaca_api_keys.env")

True

In [3]:
#Create variables for each alpaca key to easily call it
alpaca_api_key = os.getenv("API_KEY")
alpaca_secret_key = os.getenv("API_SECRET_KEY")

In [4]:
#Create the Alpaca API object
api = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version="v2")

In [5]:
#Set your portfolio study dates
start = pd.Timestamp("2020-03-17", tz="America/New_York").isoformat()
end = pd.Timestamp("2021-04-13", tz="America/New_York").isoformat()

#Set your timeframe for the data
timeframe = "1D"

#Set your tickers
tickers = ["SPY"]

In [6]:
#Set your dataframe and load the data
sp_500 = api.get_barset(
    tickers,
    timeframe,
    limit = 1000,
    start = start,
    end = end
).df

sp_500.head(10)

                              SPY
                             open      high     low   close     volume
time
2020-03-17 00:00:00-04:00  245.04  256.1700  237.07  254.19  231018081
2020-03-18 00:00:00-04:00  236.25  248.3700  228.02  241.01  298252778
2020-03-19 00:00:00-04:00  239.25  247.3800  232.22  241.16  261233795
2020-03-20 00:00:00-04:00  242.53  244.4700  228.50  228.94  302880969
2020-03-23 00:00:00-04:00  228.19  229.6833  218.26  222.51  280560712
2020-03-24 00:00:00-04:00  234.42  244.1000  233.80  243.59  211595249
2020-03-25 00:00:00-04:00  244.87  256.3500  239.75  246.77  277138668
2020-03-26 00:00:00-04:00  249.52  262.8000  249.05  261.39  221727030
2020-03-27 00:00:00-04:00  253.27  260.8100  251.05  253.39  191462093
2020-03-30 00:00:00-04:00  255.70  262.4300  253.53  261.68  139095982

In [7]:
sp_500_close = sp_500['SPY'][['close']]

sp_500_close

                              close
time
2020-03-17 00:00:00-04:00  254.1900
2020-03-18 00:00:00-04:00  241.0100
2020-03-19 00:00:00-04:00  241.1600
2020-03-20 00:00:00-04:00  228.9400
2020-03-23 00:00:00-04:00  222.5100
2020-03-24 00:00:00-04:00  243.5900
2020-03-25 00:00:00-04:00  246.7700
2020-03-26 00:00:00-04:00  261.3900
2020-03-27 00:00:00-04:00  253.3900
2020-03-30 00:00:00-04:00  261.6800
2020-03-31 00:00:00-04:00  257.7000
2020-04-01 00:00:00-04:00  246.1200
2020-04-02 00:00:00-04:00  251.8700
2020-04-03 00:00:00-04:00  248.2100
2020-04-06 00:00:00-04:00  264.9600
2020-04-07 00:00:00-04:00  265.1000
2020-04-08 00:00:00-04:00  274.0700
2020-04-09 00:00:00-04:00  278.2400
2020-04-13 00:00:00-04:00  275.5700
2020-04-14 00:00:00-04:00  283.8700
2020-04-15 00:00:00-04:00  277.7500
2020-04-16 00:00:00-04:00  279.2100
2020-04-17 00:00:00-04:00  286.7300
2020-04-20 00:00:00-04:00  281.6100
2020-04-21 00:00:00-04:00  273.0200
2020-04-22 00:00:00-04:00  279.1700
2020-04-23 00:00:00-04:00  279.0600
2020-04-24 00:00:00-04:00  283.0400
2020-04-27 00:00:00-04:00  287.1100
2020-04-28 00:00:00-04:00  285.7700
...                             ...
2021-03-02 00:00:00-05:00  386.5500
2021-03-03 00:00:00-05:00  381.4500
2021-03-04 00:00:00-05:00  376.7300
2021-03-05 00:00:00-05:00  383.5950
2021-03-08 00:00:00-05:00  381.7400
2021-03-09 00:00:00-05:00  387.1100
2021-03-10 00:00:00-05:00  389.5199
2021-03-11 00:00:00-05:00  393.5000
2021-03-12 00:00:00-05:00  394.0900
2021-03-15 00:00:00-04:00  396.4700
2021-03-16 00:00:00-04:00  395.9400
2021-03-17 00:00:00-04:00  397.2200
2021-03-18 00:00:00-04:00  391.4100
2021-03-19 00:00:00-04:00  389.5000
2021-03-22 00:00:00-04:00  392.5400
2021-03-23 00:00:00-04:00  389.5900
2021-03-24 00:00:00-04:00  387.5300
2021-03-25 00:00:00-04:00  389.6300
2021-03-26 00:00:00-04:00  395.9900
2021-03-29 00:00:00-04:00  395.7700
2021-03-30 00:00:00-04:00  394.4000
2021-03-31 00:00:00-04:00  396.2800
2021-04-01 00:00:00-04:00  400.5300
2021-04-05 00:00:00-04:00  406.3000
2021-04-06 00:00:00-04:00  406.0600
2021-04-07 00:00:00-04:00  406.5711
2021-04-08 00:00:00-04:00  408.4900
2021-04-09 00:00:00-04:00  411.4350
2021-04-12 00:00:00-04:00  411.6200
2021-04-13 00:00:00-04:00  412.8200

[271 rows x 1 columns]

In [8]:
sp_500_close.to_csv('S&P500.csv')